<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{weather.title}} Weather</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
  </head>
  <body>
    <h1>{{weather.title}} Weather</h1>
    <p>{{weather.description}}</p>
    <p>Temperature: {{weather.temp}} &deg;F</p>
    <p>Feels like: {{weather.feels_like}} &deg;F</p>
    <hr />

    <h1>Get Weather Conditions</h1>
    <form action="/weather" method="GET">
      <label for="city">Enter a city:</label>
      <input type="text" name="city" id="city" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
